@import "style.scss";

#content_title_text {
    color:$primary_color;
    width:100vw;
    margin-top:0;
    margin-bottom:2vh;
    padding-top:2vh;
}

#content_picture1 {
    width:70%;
    display:block;
    margin:auto;
    margin-bottom: 5vh;
}

.content_text {
    margin-top: 3vh;
    margin-left:10vw;
    margin-right:10vw;
    padding-bottom:2vh;
    text-align: justify;
    font-size: 14pt;
}
#content_text_style {
  width:95vw;
  margin-top: 3vh;
    margin-left:2.5vw;
    margin-right:2.5vw;
    margin-bottom: 2vh;
    padding-bottom: 3vh;   
}
.content_restaurant_picture {
    width:100vw;
    margin-bottom: 5vh;
}
@media (min-width:1025px) {
