@import "style";

#content_title_text {
    color:$primary_color;
    width:100vw;
    margin-top:0;
    margin-bottom:5vh;
    padding-top:5vh;
}
#content {
    width:100vw;
}

#content_picture1 {
    float:left;
    margin-left:2%;
    margin-right:3%;
    width:25%;
    margin-left:15%;
    border:2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
}

#content_title_description1 {
    color:$primary_color;
    font-size:30px;
    border-bottom: 3px solid;
    border-color:$primary_color;
    margin-left:45%;
    text-align: center;
    width:45%;
}
#content_text1 {
    width:48%;
    margin-left:45%;
    margin-top: 5vh;
    font-size: 18pt;
    margin-bottom:5vh;
}

#content_text2 {
    width:75%;
    margin-left:15%;
    margin-top: 4vh;
    font-size: 18pt;
    margin-bottom:5vh;
}

#content_text3 {
    width:90%;
    margin-left:15%;
    margin-top: 5vh;
    font-size: 18pt;
}

#content_picture2 {
    width:20%;
    float:right;
    margin-right:10%;
    margin-left:2%;
    margin-bottom:0.5%;
    border:2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
}
#content_title_description2 {
    width:50%;
    color:$primary_color;
    font-size:30px;
    border-bottom: 3px solid;
    border-color:$primary_color;
    margin-left:15%;
    margin-right:40%;
    margin-top:2%;
    text-align: center;
}

#content_text4 {
    margin-top:5vh;
    margin-left:15%;
    font-size: 18pt;
    margin-bottom:8vh;
    margin-right:10%;
    
}

#content_restaurant {
    display:grid;
    width:85vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;  
    row-gap: 5vw;
    column-gap: 5vw;
    margin-left:5vw;
    margin-right:5vw;
    margin-bottom:5vh;
}

.content_restaurant_picture {
    width:100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    border:2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
}

@media (max-width:1024px) {

    #content_text_style {
      width:90%;
      margin-top: 0vh;  
    }
    #content_title_description1 {
        margin-left:47%;
        text-align: center;
        width:50%;
        font-size:32pt;
    }
    #content_picture1 {
        margin-left:5%;
        width:35%; 
    }
    #content_text1 {
        width:50%;
        margin-left:45%;
        margin-top: 1vh;
        font-size: 21pt;
        margin-bottom:0vh;
    }
    #content_text2 {
        width:93%;
        margin-left:5%;
        font-size: 21pt;
        margin-top:3vh;
        margin-bottom:0vh;
        
    }
    #content_text3 {
        width:90%;
        margin-top:3vh;
        margin-left:5%;
        font-size: 21pt;
    }
    #content_picture2 {
        width:25%;
        margin-right:5%;
        
    }
    #content_text4 {
        margin-top:1vh;
        margin-left:5%;
        font-size: 21pt;
        margin-bottom:5vh;
        margin-right:5%;
        
    }
    #content_restaurant {
        display:block;
        width:100%;
        margin-left:0;
        margin-right:0;
        border-radius:0px;
        margin-bottom:0;
    }
    .content_restaurant_picture {
        width:100%;
        height: 500px;
        border-radius:0px;
        margin-bottom:5vh;
    }
    #content_title_description2 {
    font-size:32pt;
    width:61%;
    margin-left:5%;
    margin-right:40%;
    margin-top:2%;
    text-align: center;
    }
    


}
@media (min-width:768px) and (max-width:1023px) {
    
    #content_picture1 {
        margin-left:5%;
        width:50%; 
    }
    #content_text1 {
        float:right;
        width:90%;
       margin-right:5%;
        margin-bottom:1vh;
    }
    #content_title_description2 {
        width:90%;
        border-bottom: 3px solid;
        border-color:$primary_color;
        margin-left:5%;
        margin-right:5%;
        margin-top:1vh;
        text-align: center;
    }
    
}
@media (max-width:767px) {
    #content_title_text {
        font-size: 50px;
    }
    #content_picture1 {
        float:none;
        width:85%;
    }
    #content_title_description1 {
        font-size: 30px;
        margin-left:5%;
        width:90%;
        margin-top:5vh;
        margin-bottom:0;
    }
    #content_text1 {
        width:90%;
        margin-left:5%;
       margin-right:5%;
        font-size:25px;
        margin-top:5vh;
        margin-bottom:5vh;
        text-align: justify;
    }

    #content_title_description2 {
        font-size: 30px;
        margin-left:5%;
        width:90%;
        margin-top:5vh;
        margin-bottom:5vh;
    }

    #content_text2 {
        width:90%;
        margin-left:6%;
       margin-right:5%;
        margin-bottom:1vh;
        font-size:25px;
        text-align: justify;
        padding-top:5vh;
        padding-bottom:5vh;
        border-top: 3px solid;
        border-bottom: 3px solid;
    border-color:$primary_color;
        
    }
    #content_picture2 {
        width:50%;
        float:none;
        display:block;
        margin:auto;
        margin-top:5vh;
        
    }

    #content_text3 {
        width:90%;
        margin-top:5vh;
        margin-left:5%;
        font-size: 25px;
        text-align: justify;
    }

    
    #content_text4 {
        width:90%;
        margin-top:3vh;
        margin-bottom:0vh;
        margin-left:5%;
        font-size: 25px;
        text-align: justify;
        border-bottom: 3px solid;
    border-color:$primary_color;
    padding-bottom:5vh;
    }
    .content_restaurant_picture {
        width:100%;
        height: auto;
        border-radius:0px;
        margin-bottom:5vh;
    }
} 
