* {
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
}

body {
  background-color: white;
}

#container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
      grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
}

#header {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  -ms-grid-columns: (minmax(80px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  -webkit-column-gap: 10vw;
          column-gap: 10vw;
  top: 0;
  left: 0;
  background-color: #d10c00;
}

#header_logo {
  width: 75%;
  margin-left: 2vw;
  margin-top: 1vh;
}

#content_part1 {
  background-image: url("../images/Pizza7.png");
  width: 100vw;
  height: 60vh;
}

#content_style {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.header_link {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.header_link #header_tel {
  color: white;
  font-size: 10px;
  font-weight: 900;
  text-decoration: none;
}

.header_link:hover {
  color: blue;
  text-decoration: none;
}

.header_link:active {
  color: black;
  text-decoration: none;
}

#content_title_text {
  color: white;
  font-size: 25pt;
  font-weight: bold;
  text-align: center;
  padding-top: 10vh;
}

#content_sub_text {
  font-family: 'Roboto', sans-serif;
  font-size: 15pt;
  color: white;
  text-align: center;
  font-weight: bold;
}

.content_pizza_text {
  color: #a51817;
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
  margin-top: 10vh;
}

#content_pizza_picture {
  width: 100vw;
  margin-bottom: 5vh;
}

#content_video {
  width: 100vw;
  height: 40vh;
}

#footer {
  background-color: #d10c00;
  margin-top: 5vh;
  font-size: 12pt;
  width: 100vw;
}

.footer_link {
  color: white;
  text-decoration: none;
}

.footer_link:hover {
  color: blue;
  text-decoration: none;
}

.footer_link:active {
  color: black;
  text-decoration: none;
}

#footer p {
  font-size: 8pt;
  color: black;
}

@media (min-width: 1025px) {
  #header_logo {
    width: 15%;
    margin-left: 2vw;
    margin-top: 1vh;
    position: absolute;
    top: -1vh;
    left: -2vw;
  }
  #header {
    display: -ms-grid;
    display: grid;
    width: 100vw;
    -ms-grid-columns: 15vw 10vw 10vw 10vw 10vw 15vw;
        grid-template-columns: 15vw 10vw 10vw 10vw 10vw 15vw;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: 5vw;
            column-gap: 5vw;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d10c00;
  }
  .header_link {
    font-size: 23px;
  }
  #content_part1 {
    width: 100vw;
    height: 80vh;
  }
  #content_pizza_picture {
    display: block;
    margin: auto;
    width: 60%;
  }
  #content_video {
    width: 560;
    height: 315;
    display: block;
    margin: auto;
  }
  #footer {
    margin-top: 5vh;
    font-size: 15pt;
  }
  .footer_link {
    margin-left: 0vw;
  }
  #footer p {
    font-size: 12pt;
    margin-left: 0vw;
  }
}

#content_title_starters {
  color: #a51817;
  width: 100vw;
  margin-top: 0;
  margin-bottom: 2vh;
  padding-top: 2vh;
  font-size: 20pt;
  text-align: center;
  text-decoration: underline;
}

#content_menu_style {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#content_menu_intro {
  background-image: url("../images/Friends-eating-pizza.jpg");
  background-size: 100vw;
  height: 35vh;
}

#content_menu_text {
  font-size: 40px;
  color: white;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 8vh;
}

.content_menu_links {
  width: 100vw;
  text-align: center;
  color: white;
  margin-left: 12vw;
  margin-bottom: 0;
  text-decoration: none;
}

.content_menu_links:hover {
  font-weight: bold;
}

#menu_container {
  background-color: white;
  border-radius: 30px;
  position: relative;
  top: -5vh;
}

#content_starters {
  display: -ms-grid;
  display: grid;
  width: 90vw;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -webkit-column-gap: 5vw;
          column-gap: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.content_starters_pictures {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  margin-bottom: 1vh;
}

.content_starters_text {
  margin-bottom: 4vh;
}

#content_title_pizzas {
  color: #a51817;
  width: 100vw;
  margin-top: 0;
  margin-bottom: 2vh;
  padding-top: 2vh;
  font-size: 20pt;
  text-align: center;
  text-decoration: underline;
}

#content_pizzas {
  display: -ms-grid;
  display: grid;
  width: 90vw;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -webkit-column-gap: 5vw;
          column-gap: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.content_pizzas_pictures {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  margin-bottom: 1vh;
}

.content_pizzas_text {
  margin-bottom: 4vh;
}

#content_title_desserts {
  color: #a51817;
  width: 100vw;
  margin-top: 0;
  margin-bottom: 2vh;
  padding-top: 2vh;
  font-size: 20pt;
  text-align: center;
  text-decoration: underline;
}

#content_desserts {
  display: -ms-grid;
  display: grid;
  width: 90vw;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -webkit-column-gap: 5vw;
          column-gap: 5vw;
  margin-bottom: 1vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.content_desserts_pictures {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

.content_desserts_text {
  margin-bottom: 4vh;
}

.menu_name {
  font-weight: bold;
  font-size: 12pt;
  margin-left: 1vw;
}

.menu_description {
  color: grey;
  font-size: 10pt;
  margin-left: 1vw;
}

.menu_price {
  color: #a51817;
  font-size: 12pt;
  margin-left: 80%;
}

@media (max-width: 3000px) and (min-width: 1036px) {
  #content_menu_intro {
    background-image: url("../images/Friends-eating-pizza.jpg");
    background-size: 100vw;
    height: 60vh;
  }
  #content_menu_text {
    padding-bottom: 25vh;
    font-size: 60pt;
  }
  .content_menu_links {
    margin-left: 20vw;
    font-size: 20pt;
  }
}

@media (min-width: 1024px) and (max-width: 1035px) {
  #content_menu_text {
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 12vh;
  }
  .content_menu_links {
    width: 100vw;
    text-align: center;
    margin-left: 20vw;
    font-size: 20pt;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #content_menu_text {
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .content_menu_links {
    width: 100vw;
    text-align: center;
    margin-left: 15vw;
    font-size: 18pt;
  }
}

@media (min-width: 375px) and (max-width: 414px) {
  #content_menu_text {
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 12vh;
  }
  #menu_container {
    background-color: white;
    border-radius: 30px;
    position: relative;
    top: -9vh;
  }
}
/*# sourceMappingURL=menu.css.map */